.navbar{
    height: 50px;
    background: rgb(29,67,147);
background: linear-gradient(90deg, rgba(29,67,147,1) 41%, rgba(175,115,199,0.9445028011204482) 95%);
    display: flex;
    justify-content: center;
  }
  
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.logo{
    font-weight: 500;
  }
  
.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    border-radius: 10px;
  }